STORAGE_TYPE=LOCAL
DB_TYPE=DUCKDB

LOCAL_STORAGE_PATH=./data/files

DUCKDB_PATH=./data/main.db

POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/postgres

MINIO_ENDPOINT="http://localhost:9000"
MINIO_ACCESS_KEY="admin"
MINIO_SECRET_KEY="password123"
MINIO_BUCKET_NAME="switchboard-bucket"

CLICKHOUSE_HOST="localhost"
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER="default"
CLICKHOUSE_PASSWORD=""

GOOGLE_APPLICATION_CREDENTIALS="./secrets/google_service_account.json"
BQ_PROJECT_ID="your-gcp-project-id-here"
BQ_DATASET_ID="switchboard_dev"
GCS_BUCKET_NAME="your-gcs-bucket-name"

REDSHIFT_HOST="localhost"
REDSHIFT_PORT=5439
REDSHIFT_DATABASE="dev"
REDSHIFT_USER="awsuser"
REDSHIFT_PASSWORD="password"

AWS_ACCESS_KEY_ID = "mock_sandbox_key"
AWS_SECRET_ACCESS_KEY = "mock_sandbox_secret"
AWS_REGION = "us-east-1"
AWS_S3_BUCKET_NAME = "switchboard-local-lake"

# Divert traffic to Docker container (comment out or clear field for production AWS)
AWS_ENDPOINT_URL = "http://localhost:4566"