STORAGE_TYPE=LOCAL
DB_TYPE=DUCKDB

LOCAL_STORAGE_PATH=./data/files
DUCKDB_PATH=./data/main.db
POSTGRES_URL=postgresql://postgres:postgres@localhost:5432/postgres

MINIO_ENDPOINT="http://localhost:9000"
MINIO_ACCESS_KEY="admin"
MINIO_SECRET_KEY="password123"
MINIO_BUCKET_NAME="switchboard-bucket"